<div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-hover">
        <thead>
            <th ng-click="clickedSortIdCategory()">Id</th>
            <th ng-click="clickedSortNameCategory()">Category</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="category in categoryList.categories">
                <td class="col-md-2">{{category.id}}</td>
                <td class="col-md-8">{{category.username}}</td>
                <td class="col-md-2">
                    <a href ng-click="go('/admin/categories/edit/' + category.id + '/name/' + category.username)" class="btn btn-warning btn-xs">Edit</a>
                    <a href ng-click="go('/admin/categories/delete/' + category.id + '/name/' + category.username)" class="btn btn-danger btn-xs">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination
            total-items="categoryList.numItems"
            ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize"
            ng-change="pageChange()"
            max-size="9"
            boundary-links="true">
    </pagination>
    <a href ng-click="go('/admin/categories/create')" class="btn btn-info btn-lg col-md-offset-4">Create New Category</a>
</div>