<div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-hover">
        <thead>
        <th ng-click="clickedSortByUsername()">Username</th>
        <th ng-click="clickedSortByName()">Name</th>
        <th ng-click="clickedSortByEmail()">Email</th>
        <th ng-click="clickedSortByPhone()">Phone</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr ng-repeat="user in usersList.users">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td class="col-md-2">
                <a href ng-click="clickedEditUser(user.username, user.name, user.email, user.phoneNumber, user.isAdmin)" class="btn btn-warning btn-xs">Edit</a>
                <a href ng-click="go('/admin/towns/delete/' + user.id + '/name/' + town.username)" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination
            total-items="usersList.numItems"
            ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize"
            ng-change="pageChange()"
            max-size="9"
            boundary-links="true">
    </pagination>
</div>