<div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-hover">
        <thead>
        <th ng-click="clickedSortIdTown()">Id</th>
        <th ng-click="clickedSortNameTown()">Towns</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr ng-repeat="town in townsList.towns">
            <td class="col-md-2">{{town.id}}</td>
            <td class="col-md-8">{{town.username}}</td>
            <td class="col-md-2">
                <a href ng-click="go('/admin/towns/edit/' + town.id + '/name/' + town.username)" class="btn btn-warning btn-xs">Edit</a>
                <a href ng-click="go('/admin/towns/delete/' + town.id + '/name/' + town.username)" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination
            total-items="townsList.numItems"
            ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize"
            ng-change="pageChange()"
            max-size="9"
            boundary-links="true">
    </pagination>
    <a href ng-click="go('/admin/towns/create')" class="btn btn-info btn-lg col-md-offset-4">Create New Towns</a>
</div>