<div class="row">
    <div class="col-md-5"></div>
    <form class="col-md-3 form-horizontal" name="logoutForm">
        <fieldset>
            <legend>Do you want Logout?</legend>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary" ng-click="confirmLogout()">Logout</button>
                    <button class="btn btn-default" ng-click="go('/user/home')">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>